.container {
    display: flex;
    flex-direction: column;
}
.header {
    padding: 24px;
    color: black;
}
.cards-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 100%;
    gap: 2rem;
    padding: 24px;
    flex-direction: row;
}